<template>
  <section>
    <div class="hover">
      <svg class="illustration" viewBox="0 0 438 548">
        <defs id="defs47">
          <radialGradient id="r" cy="50.093%" r="60.504%" gradientTransform="matrix(.72146 0 0 1 .13927 0)">
            <stop stop-color="#AB3424" offset="0" id="stop2" />
            <stop stop-color="#E14B25" offset=".8927" id="stop4" />
          </radialGradient>
          <radialGradient id="q" cx="23.05%" cy="89.753%" r="144.1%" gradientTransform="matrix(.46575 0 0 1 .12314 0)">
            <stop stop-color="#F37343" offset=".3295" id="stop7" />
            <stop stop-color="#E14B25" offset="1" id="stop9" />
          </radialGradient>
          <radialGradient id="p" cx="25.141%" cy="-96.896%" r="272.71%" gradientTransform="matrix(.29114 0 0 1 .17822 0)">
            <stop stop-color="#AB3424" offset="0" id="stop12" />
            <stop stop-color="#E14B25" offset=".8927" id="stop14" />
          </radialGradient>
          <radialGradient id="o" cx="41.011%" cy="-29.853%" r="195.63%" gradientTransform="matrix(.27273 0 0 1 .29826 0)">
            <stop stop-color="#AB3424" offset="0" id="stop17" />
            <stop stop-color="#E14B25" offset=".8927" id="stop19" />
          </radialGradient>
          <radialGradient id="n" cx="49.86%" cy="49.52%" r="114.87%" gradientTransform="matrix(.32558 0 0 1 .33626 0)">
            <stop stop-color="#AB3424" offset="0" id="stop22" />
            <stop stop-color="#E14B25" offset=".8927" id="stop24" />
          </radialGradient>
          <radialGradient id="m" cx="25.144%" cy="-97.433%" r="272.71%" gradientTransform="matrix(.29114 0 0 1 .17824 0)">
            <stop stop-color="#AB3424" offset="0" id="stop27" />
            <stop stop-color="#E14B25" offset=".8927" id="stop29" />
          </radialGradient>
          <linearGradient id="j" x1=".11644%" x2="99.958%" y1="50.081%" y2="50.081%">
            <stop stop-opacity="0" offset="0" id="stop32" />
            <stop offset="1" id="stop34" />
          </linearGradient>
          <linearGradient
            id="l"
            x1="0.0002813797"
            y1="279.02042"
            y2="279.02042"
            gradientTransform="matrix(1.3130139,0,0,0.76160655,115,-44)"
            x2="148.37302"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#F6F7FF" offset="0" id="stop37" />
            <stop stop-color="#F2F2F9" offset="1" id="stop39" />
          </linearGradient>
          <linearGradient
            id="k"
            x1="138.07421"
            x2="138.07421"
            y1="159.75409"
            y2="32.177678"
            gradientTransform="matrix(0.70964907,0,0,1.4091472,115,-44)"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#EE503B" offset="0" id="stop42" />
            <stop stop-color="#EE503B" stop-opacity="0" offset="1" id="stop44" />
          </linearGradient>
          <filter style="color-interpolation-filters:sRGB;" inkscape:label="Color Shift" id="filter5059">
            <feColorMatrix type="hueRotate" values="197" result="color1" id="feColorMatrix5055" />
            <feColorMatrix type="saturate" values="0.24" result="color2" id="feColorMatrix5057" />
          </filter>
        </defs>
        <g fill="none" fill-rule="evenodd" id="g263">
          <g transform="matrix(-1 0 0 1 438 114)" id="g175" style="filter:url(#filter5059)">
            <path
              d="m427 149c-6.2812 27.332-15.853 94.896-25.723 121-16.152-4.2995-24.527-49.137-41.277-57.122 12.562-20.883 18.844-30.711 29.612-48.83 15.254-6.1421 22.732-9.2132 37.388-15.048z"
              id="path49"
              fill-rule="nonzero"
              fill="#B03B25"
            />
            <path
              d="m14 141c0.62338 32.82 7.4805 105.69 17.143 137 11.221-13.851 17.455-62.327 30.857-77.985-8.1039-17.765-15.273-35.831-21.195-54.198-10.909-1.8066-16.208-3.011-26.805-4.8176z"
              id="path51"
              fill-rule="nonzero"
              fill="#B03B25"
            />
            <path
              d="m364.09 198.59c-8.1281 9.0549-12.042 54.631-20.471 63.988-9.0312 21.732-18.062 43.463-26.793 65.497-18.665-9.3567-36.426-20.223-53.886-31.994-13.246 7.8476-20.17 11.771-33.416 19.015-8.7302 11.771-13.246 17.808-21.675 29.579-10.838 1.811-16.557 2.4146-27.395 3.3201-7.526-26.863-14.751-54.027-21.073-81.192-8.7302 8.753-13.246 13.28-21.675 21.732-7.526 6.9421-11.44 10.564-18.665 17.204-3.3115 5.7348-4.8167 8.753-8.1281 14.488-11.741-29.277-22.277-99.604-31.91-129.48 10.536-15.997 15.955-24.146 27.094-40.747 43.049 7.5457 86.098 15.091 129.45 21.732 31.308 4.8293 110.18 1.5091 132.46 26.863h-3.9135z"
              id="path53"
              fill-rule="nonzero"
              fill="#B03B25"
            />
            <path
              d="m437.94 98.965c0.30244 12.652-0.60489 26.508-1.5122 41.268-0.60489 8.4344-1.5122 17.471-7.8636 26.508-6.3514 9.0368-19.356 18.977-33.571 21.086-3.3269 9.6393-6.6538 80.126-10.586 90.669-1.8147 4.8196-4.2342 9.9405-9.3758 14.459-6.9562 6.0245-19.356 32.533-23.591 39.762-6.0489-25.303-5.7465-92.477-9.6782-118.38-2.1171 8.1331-4.5367 57.233-6.9562 65.668-14.82 8.1331-29.035 17.17-42.04 27.412-1.2098-2.711-3.3269-4.8196-6.6538-5.7233-12.4 23.797-24.801 48.196-33.874 73.499-12.098 5.4221-16.03 22.291-27.825 26.809-6.6538-25.002-11.19-52.414-25.405-74.704-9.0734 3.916-19.054-4.2172-23.288-12.35-3.9318-8.4344-5.444-17.772-12.4-24.399-3.3269 9.0368-4.2342 43.979-5.444 53.317-7.8636 0.30123-8.166 29.219-14.215 32.231-33.269-36.448-29.035-134.95-42.645-179.23-11.493 18.074-14.517 80.428-20.264 100.61-9.6782-4.8196-19.961-8.4344-30.245-11.145-8.166-26.207-14.82-93.682-18.449-121.09-0.30245-2.1086-1.8147-7.5307-3.6293-9.338-1.5122-1.5061-5.1416-0.30123-10.888-3.0123-6.3513-3.0123-8.166-9.0368-9.3758-14.459-2.4196-11.447-7.8636-23.496-8.166-34.039 31.757 0.30123 63.513-3.3135 94.363-5.1209 20.869-1.2049 43.25 0 64.118-2.1086 15.425-1.5061 31.152-5.7233 46.274-7.8319 13.61-1.8074 27.22-1.8074 40.83-2.1086 48.089-1.2049 96.178-3.3135 143.36 4.2172 16.03 2.711 32.967 6.3258 48.694 6.627 0 0.60245 0.30245 0.60245 0.30245 0.90368z"
              id="path55"
              fill-rule="nonzero"
              fill="url(#r)"
            />
            <path
              d="m20 114.13s0.58427 37.442 1.7528 37.442c0.8764 0.28582 6.1348 1.4291 6.1348 1.4291 1.1685-7.7171 2.0449-11.719 3.7978-19.436 5.8427-2.0007 8.764-3.144 14.315-5.1447 0 0-16.652-16.006-26-14.291z"
              id="path57"
              fill-rule="nonzero"
              fill="#A63823"
            />
            <path
              d="m158.95 289.38c-2.9333 8.1114-3.52 42.36-4.9867 50.771-4.6933-6.0085-11.733-36.952-17.6-42.059 3.52-7.5106 8.5067-14.42 14.373-20.429 0.58667 0.60085 1.4667 1.2017 2.0533 1.5021 2.64 4.2059 5.28 8.1114 8.2133 12.317-0.58667-0.60084-1.4667-1.2017-2.0533-2.103z"
              id="path59"
              fill-rule="nonzero"
              fill="#A63823"
            />
            <path
              d="m117.59 304.7c4.9867 1.5021 10.267 1.8025 15.253 1.5021 2.9333 3.9055 7.6267 33.647 9.9733 37.853-3.52 0.90127 0 29.141-2.9333 30.643-11.44-21.63-14.96-46.866-22.293-69.999z"
              id="path61"
              fill-rule="nonzero"
              fill="#A63823"
            />
            <path
              d="m412.67 157.47c-1.1619-1.2217-0.58097-3.0542 0-4.5813 5.5192-13.744 8.7145-26.266 9.8765-38.483 0.58097-6.1084 0.58097-12.522 3.7763-17.409 3.7763 0.30542 7.5526 0.61084 11.329 0.61084 0 0 0.29048 0 0.29048 0.30542 0.29048 12.828-0.58097 26.877-1.4524 41.842-0.58097 6.1084-1.1619 12.522-3.4858 19.241h-15.105c-2.0334-0.30542-4.0668-0.61084-5.2287-1.5271z"
              id="path63"
              fill-rule="nonzero"
              fill="#A63823"
            />
            <path
              d="m26 130c4.8385 19.966 12.399 39.933 18.749 58.387 0.90722 2.1176 42.639 13.613 42.639 13.613 10.282-14.824 15.725-22.387 26.612-37.815-6.0481-13.008-8.7698-19.361-14.213-31.765-24.192-0.30252-48.99-1.2101-73.787-2.4202z"
              id="path65"
              fill-rule="nonzero"
              fill="#F15930"
            />
            <path
              d="m79 162.2c0.83871 15 1.6774 22.5 3.3548 37.8 7.2688-6.9 10.624-10.5 17.892-17.7 1.6774-8.4 2.7957-12.6 4.7527-21.3-10.344 0.6-15.656 0.9-26 1.2z"
              id="path67"
              fill-rule="nonzero"
              fill="#A63823"
            />
            <path
              d="m80.833 294.7c-4.0046-8.6464-3.7185-82.29 0.57208-90.042 4.5767-8.6464 12.586-15.802 20.595-22.66-0.57208 3.876-0.85812 5.6649-1.4302 9.5409-0.85812 2.3852-1.7162 4.7704-2.2883 7.1557-9.4394 16.995-11.728 77.52-16.59 96.303 0 0-0.28604-0.29815-0.85812-0.29815z"
              id="path69"
              fill-rule="nonzero"
              fill="#A63823"
            />
            <path
              d="m429.36 114s1.2049 19.929 0.30123 23.408c-0.90369 3.4796-15.664 7.5918-15.664 7.5918 0.60246-6.0102 0.90369-9.1735 1.2049-14.867 6.3258-6.9592 9.0369-10.122 14.158-16.133z"
              id="path71"
              fill-rule="nonzero"
              fill="#F15930"
            />
            <path
              d="m415.39 116.79c4.1843-1.393 8.0897-2.7861 12.553-2.7861 0.27895 3.9005-0.55791 7.801-2.5106 11.98-0.27895 0.27861-0.27895 0.55721-0.55791 0.83582-0.83686 0.55721-1.9527 0.83582-3.0685 0.83582-1.3948 0-2.7895 0.27861-4.1843 0.27861-0.83686 0-1.9527 0.27861-2.5106-0.27861-0.55791-0.27861-0.55791-0.83582-0.55791-1.393-0.27895-3.0647-0.27895-6.1294-0.55791-9.194 0.55791 0.27861 0.83686-0.27861 1.3948-0.27861z"
              id="path73"
              fill-rule="nonzero"
              fill="#F6936D"
            />
            <path
              d="m382 139c-1.807 15.91-3.0117 32.119-3.9152 48.629-10.24 4.2025-20.78 8.4051-31.02 12.608-6.3245 2.4014-12.649 5.1031-17.468 9.3056-4.8187 4.2025-7.8303 51.031-5.421 55.533-12.348 3.302-24.696 6.604-37.345 9.6058-0.30117 5.1031-1.5058 10.206-3.3128 15.309-7.8303 0-15.661 0-23.491-0.30018-2.4093 0-4.5175-0.30018-6.6257-1.2007-2.1082-0.90054-3.3128-2.7016-4.8187-4.2025-4.8187-6.3038-9.9385-12.608-14.757-18.911 0.30117 12.608-1.5058 25.816-4.5175 38.423-11.143 0.60036-22.286 1.2007-33.429 1.2007-3.0117 0-6.0233 0-8.4327-1.5009-1.5058-0.90054-2.7105-2.7016-3.614-4.2025-7.228-11.407-14.456-22.814-21.383-34.221-6.9268-0.30018-14.155-0.90054-21.082-1.5009-2.4093 4.5027-4.2163 9.0054-5.1198 13.808-11.444-3.6022-18.672-53.432-24.093-63.038-8.4327-15.009-1.807-25.515-14.155-32.119 0-1.5009 1.2047-5.4033 1.5058-6.9042 35.236-8.1049 71.678-10.506 107.52-13.208 57.523-4.5027 115.05-11.707 172.27-20.412 1.5058-1.2007 1.807-1.5009 2.7105-2.7016z"
              id="path75"
              fill-rule="nonzero"
              fill="#F15930"
            />
            <path
              d="m220.57 193c4.5714 14.387 6.8571 62.045 11.429 76.133-2 14.687-3.1429 21.881-5.1429 36.867-7.1429-21.281-14-83.326-20.857-104.61 6-3.2971 8.8571-5.0955 14.571-8.3926z"
              id="path77"
              fill-rule="nonzero"
              fill="#A63823"
            />
            <path
              d="m279.81 198c0.25731 20.932 0.25731 71.768 0 93h-3.345c-2.8304-20.633-4.3743-71.17-7.462-91.804 4.3743-0.59807 6.4327-0.59807 10.807-1.1961z"
              id="path79"
              fill-rule="nonzero"
              fill="#F26C46"
            />
            <path
              d="m336 178s0 15.653-2.9792 19.95c-2.9792 4.297-9.2083 11.05-9.2083 11.05-5.4167-7.6733-8.125-11.663-13.812-19.95 10.292-4.604 15.438-6.7525 26-11.05z"
              id="path81"
              fill-rule="nonzero"
              fill="#A63823"
            />
            <path
              d="m315.13 174.07c7.7308-0.2842 15.152 0.28421 22.265 1.1368 1.5462 2.8421 0 6.5367-3.0923 9.0946-8.6585 0.85262-17.317 2.2736-25.975 3.6947-1.5462-3.4105-1.8554-7.1051-0.30923-10.8 2.1646-1.421 4.02-3.1263 7.1123-3.1263-0.30923 0-0.30923 0 0 0z"
              id="path83"
              fill-rule="nonzero"
              fill="#F6936D"
            />
            <path
              d="m298.89 22.871c7.2508-0.29951 14.804 0.89853 22.659 3.2946 0.30212 2.0966 0.60423 4.1932 0.90635 6.2897 9.9699 0 20.544 2.3961 31.722 6.5892 7.855 2.9951 18.731 8.6858 19.638 14.676 0.30212 1.4976-0.30212 2.6956 0.90635 4.4927 1.5106 2.0966 4.8339 3.2946 7.5529 4.1932 5.7402 2.0966 12.085 5.6907 14.804 9.5844 3.0212 3.8936 0.60423 8.3863-5.136 7.4878 12.991 4.1932 26.284 8.0868 39.577 11.381 2.4169 0.59902 4.8339 1.4976 6.0423 2.6956 2.1148 2.6956-3.9275 3.2946-6.9487 4.4927-6.6466 2.6956-3.6254 11.082-11.783 13.478-1.8127 0.59902-3.9275 0.59902-5.136 1.7971-1.5106 1.4976-0.60423 3.5941 0.30212 5.3912 2.4169 6.2897-2.4169 13.778-11.48 17.372-6.3445 2.6956-14.804 3.2946-19.033 8.0868-2.7191 2.9951-3.0212 7.4878-7.5529 9.5844-4.8339 2.3961-11.48 0-16.314 2.6956-3.6254 1.7971-4.5318 5.3912-7.2508 7.7873-4.5318 4.4927-12.689 5.3912-19.94 5.0917-6.9487-0.29951-14.502-1.4976-21.148 0.89853-6.6466 2.3961-10.876 10.782-5.136 14.077-6.6466 0-12.991-0.29951-19.638-0.59902 0.60423 5.6907-4.5318 11.681-10.876 14.676-6.3445 2.9951-13.897 4.1932-20.846 4.7922-7.2508 0.89853-14.804 1.4976-21.45-0.59902s-12.387-7.4878-11.48-13.778c-6.0423 0.29951-9.9699 6.2897-15.408 8.3863-3.0212 1.198-6.6466 1.198-9.9699 0.89853-34.139-2.0966-66.768-8.9853-100-18.57-0.60423-7.4878 3.3233-15.275 10.574-20.367-27.191 5.0917-58.006-2.0966-77.342-21.265-2.7191-2.6956-4.8339-6.5892-2.4169-9.5844 6.6466-0.59902 13.595-1.4976 20.242-2.3961-7.2508-6.8888-16.314-12.28-26.888-15.275-8.1572-2.0966-17.825-3.2946-20.242-8.9853-2.1148-5.3912 4.5318-12.579 12.387-16.773 8.1572-4.1932 16.919-6.2897 25.378-7.7873 4.8339-0.89853 10.574-2.0966 13.897-5.3912 1.5106-1.4976 2.7191-3.2946 3.3233-5.0917 3.0212-5.9902 6.0423-12.28 11.178-17.971s12.991-11.381 19.638-12.28c2.7191-0.29951 5.4381 0.29951 8.1572-0.59902 4.2296-1.198 8.1572-4.4927 12.085-7.1883 14.502-9.5844 29.305-7.7873 43.505-11.98 10.876-2.9951 21.45-9.8839 31.722-10.782 7.5529-0.59902 15.106 2.0966 22.659 0.59902 5.7402-1.198 11.178-4.7922 16.919-5.9902 13.293-2.6956 25.378 8.6858 38.973 13.778 3.3233 1.198 6.9487 2.0966 9.6677 1.198 2.4169-0.59902 4.2296-2.3961 6.3445-3.2946 6.0423-2.3961 15.408 2.6956 19.638 9.8839 1.8127 0 2.1148 0.29951 3.0212 0.89853z"
              id="path85"
              fill-rule="nonzero"
              fill="url(#q)"
            />
            <ellipse cx="113" cy="63" rx="41" ry="12" id="ellipse87" fill-rule="nonzero" fill="#F58255" />
            <ellipse cx="112.5" cy="62.5" rx="39.5" ry="11.5" id="ellipse89" fill-rule="nonzero" fill="url(#p)" />
            <path
              d="m20 102.16s68.317 22.405 88.964 15.534c20.647-6.572-44.634-25.691-44.634-25.691l-44.33 10.157z"
              id="path91"
              fill-rule="nonzero"
              fill="#F6936D"
            />
            <path
              d="m20 103.35s62.791 17.306 83.22 15.516c20.43-1.7903-31.245-23.87-31.245-23.87l-51.975 8.3545z"
              id="path93"
              fill-rule="nonzero"
              fill="url(#o)"
            />
            <path
              d="m30.157 138.49c-2.7141-2.7161-4.8251-6.6393-2.4125-9.6571 6.6345-0.60357 12.967-1.5089 19.602-2.1125-4.5235 2.4143-6.3329 7.8464-4.2219 11.77 2.4125 4.8286 8.7454 7.5446 14.777 9.6571 16.285 6.0357 34.379 9.9589 52.473 11.77-3.3172 4.225-1.2063 10.261 3.0157 13.882 4.2219 3.6214 9.9517 5.4321 15.681 6.9411 33.775 9.6571 62.123 13.882 97.406 7.2429 9.047 10.864 27.744 13.58 41.315 6.6393 5.4282-3.0179 10.253-6.9411 15.681-9.9589 5.4282-3.0179 12.364-4.8286 17.792-2.7161-2.111-6.6393 8.1423-12.373 16.888-13.279 8.4439-0.90536 18.094 0 25.03-4.5268 5.1266-3.3196 7.5392-9.0536 13.57-10.562 4.5235-1.2071 9.6501 0.30178 14.174-0.60357 9.047-1.8107 12.063-10.261 18.396-15.089 6.3329-5.1304 17.189-7.5446 19.3-13.279 0.9047-2.7161-0.30157-5.7339 0.30157-8.45 0.60313-1.8107 1.8094-3.6214 3.3172-5.1304 5.7298-6.3375 10.856-12.373 15.681-17.805 0.30157-0.60357 0.30157-1.2071 0-1.8107 1.2063 0.30179 2.4125 0.60357 3.3172 0.90536 2.4125 0.60357 4.8251 1.5089 6.0313 2.7161 2.111 2.7161-3.9204 3.3196-6.936 4.5268-6.6345 2.7161-3.6188 11.166-11.761 13.58-1.8094 0.60357-3.9204 0.60357-5.1266 1.8107-1.5078 1.5089-0.60313 3.6214 0.30157 5.4321 2.4125 6.3375-2.4125 13.882-11.46 17.504-6.3329 2.7161-14.777 3.3196-18.999 8.1482-2.7141 3.0179-3.0157 7.5446-7.5392 9.6571-4.8251 2.4143-11.46 0-16.285 2.7161-3.6188 1.8107-4.5235 5.4321-7.2376 7.8464-4.5235 4.5268-12.666 5.4321-19.903 5.1304-6.936-0.30179-14.475-1.5089-21.11 0.90536s-10.856 10.864-5.1266 14.184c-6.6345 0-12.967-0.30178-19.602-0.60357 0.60313 5.7339-4.5235 11.77-10.856 14.788s-13.872 4.225-20.808 4.8286c-7.2376 0.90536-14.777 1.5089-21.411-0.60357-6.6345-2.1125-12.364-7.5446-11.46-13.882-6.0313 0.30179-9.9517 6.3375-15.38 8.45-3.0157 1.2071-6.6345 1.2071-9.9517 0.90536-34.077-2.1125-66.646-9.0536-99.819-18.711-0.60313-7.5446 3.3172-15.391 10.555-20.521-27.141 4.225-57.599-3.0179-77.201-22.634z"
              id="path95"
              fill-rule="nonzero"
              fill="#F6936D"
            />
            <path
              d="m354.04 39.509c7.8407 3.0179 18.697 8.7518 19.602 14.788 0.30157 1.5089-0.30157 2.7161 0.9047 4.5268 1.5078 2.1125 4.8251 3.3196 7.5392 4.225 5.7298 2.1125 12.063 5.7339 14.777 9.6571 3.0157 3.9232 0.60313 8.45-5.1266 7.5446 12.967 4.225 26.236 8.1482 39.505 11.468 1.2063 0.30179 2.4125 0.60357 3.3172 0.90536-3.9204 2.4143-7.8407 4.8286-12.063 7.5446-0.30157 0.30179-0.60313 0.30179-1.2063 0.60357 0.60313-1.5089 0-3.3196-1.5078-4.8286-3.0157-2.4143-7.5392-3.9232-11.761-4.8286-4.2219-0.90536-8.7454-1.5089-12.967-3.3196-4.2219-1.5089-8.1423-4.8286-8.1423-7.5446 0-1.8107 1.2063-3.0179 2.111-4.5268 1.2063-2.1125 0.60313-5.1304-2.4125-7.8464-4.2219-3.6214-11.761-4.8286-15.078-9.0536-1.2063-1.5089-1.2063-2.7161-1.8094-4.225-2.111-5.4321-9.047-10.864-15.681-14.788-1.2063-0.60357-2.4125-1.2071-3.6188-1.8107 0.9047 0.60357 2.111 0.90536 3.6188 1.5089z"
              id="path97"
              fill-rule="nonzero"
              fill="#F6936D"
            />
            <path
              d="m50.663 125.52c-0.9047 0-1.8094 0.30179-2.7141 0.90536-7.2376-6.9411-16.285-12.373-26.839-15.089-8.1423-2.1125-17.792-3.3196-20.205-9.0536-1.5078-3.9232 1.5078-8.7518 6.3329-12.977-0.9047 3.3196-0.30157 6.9411 1.5078 9.6571 4.2219 5.7339 12.666 9.0536 20.808 12.373 8.4439 3.3196 16.888 7.2429 21.11 14.184z"
              id="path99"
              fill-rule="nonzero"
              fill="#F6936D"
            />
            <path
              d="m247.2 293c14.384 1.8066 28.474 5.1188 40.803 9.6354 0 0.3011 0 0.3011-0.29355 0.60221-0.88065-0.60221-2.0549-1.2044-3.2291-1.5055-12.036 23.787-24.071 48.177-32.878 73.47-6.7517 3.011-20.549 24.39-27.007 26.798-2.0548-2.4088 2.0549-3.3122 0-5.4199-0.88065-0.90331 7.3388-9.6354 6.7517-10.84-0.88065-2.1077-0.29355-4.8177 0.29355-7.5276 6.4581-27.702 8.513-56.909 15.558-85.213z"
              id="path101"
              fill-rule="nonzero"
              fill="#A63823"
            />
            <circle cx="162" cy="357" r="2" id="circle103" fill="#F15930" />
            <circle cx="226" cy="421" r="2" id="circle105" fill="#F15930" />
            <circle cx="250" cy="389" r="2" id="circle107" fill="#F15930" />
            <circle cx="218" cy="432" r="2" id="circle109" fill="#F15930" />
            <path
              d="m373.36 193.44c1.2198-3.002 2.4396-6.3042 3.6593-9.3062 6.7088 0 13.113 1.2008 18.907 2.7018-3.0494 9.3062-6.4038 79.253-10.673 89.46-0.60989 1.2008-0.91483 2.4016-1.5247 3.6024-2.7445-3.3022-6.0989-67.545-9.1483-71.147-1.5247-1.8012-3.0494-3.6024-3.3544-5.7038-0.60989-3.002 0.91483-6.3042 2.1346-9.6064z"
              id="path111"
              fill-rule="nonzero"
              fill="#A63823"
            />
            <path
              d="m354.76 257.69c0.91483-0.3002 1.8297-0.9006 2.4396-0.9006 0.60989 0 1.2198 0.3002 1.5247 0.9006 5.184 5.1034 9.7582 30.62 14.027 35.424-6.7088 4.503-16.772 31.221-20.431 37.225-4.2692-22.215-3.3544-45.03-7.3187-67.245-25.31 13.509-17.992 9.6064 9.7582-5.4036z"
              id="path113"
              fill-rule="nonzero"
              fill="#A63823"
            />
            <path
              d="m390.97 176.1c3.4834-1.8 7.257-3.6 10.74-5.1 6.0959 1.2 12.482 2.1 18.288 3-6.6765 6.3-15.965 12-25.835 13.5-0.29028 0.6-0.29028 0.9-0.58056 1.5-0.29028-0.3-0.58056-0.6-0.87084-1.2-1.4514-1.8-2.9028-3.6-4.3542-5.4-0.87084-1.2-2.032-2.7-0.87084-4.2 0.87084-0.9 2.032-1.5 3.4834-2.1z"
              id="path115"
              fill-rule="nonzero"
              fill="#A63823"
            />
            <path
              d="m55.316 202.3c1.5789 6.9965 4.1053 79.395 5.6842 86.696-3.4737-0.91259-6.6316-2.1294-10.105-2.7378-2.2105-6.3881-5.3684-77.874-7.8947-84.262 4.1053 0.60839 8.2105 0.91259 12.316 0.3042z"
              id="path117"
              fill-rule="nonzero"
              fill="#A63823"
            />
            <path
              d="m161 266c-7.1429-8.8152-10.571-52.891-17.429-62-1.1429 8.2275-1.4286 52.303-2.5714 60.531 8 0.58768 12 0.88152 20 1.4692z"
              id="path119"
              fill-rule="nonzero"
              fill="#A63823"
            />
            <path
              d="m103.34 168c-0.29538 3.1967 0 6.1027 0.88615 9.2994 0.29538 1.453 0.88615 2.9061 2.0677 3.7779 0.88615 0.87182 2.3631 1.1624 3.5446 1.7436 25.698 7.5558 51.988 12.787 78.572 15.693 3.5446 0.29061 7.0892 0.58121 10.634 0 5.6123-0.87182 10.634-3.1967 15.951-4.6497-3.2492 2.0342-5.9077 4.9403-9.4523 6.1027-2.9538 1.1624-6.4984 1.1624-9.7477 0.87182-33.378-2.0342-65.28-8.7182-97.772-18.018-0.29538-4.9403 1.7723-10.462 5.3169-14.821z"
              id="path121"
              fill-rule="nonzero"
              fill="#FAB69D"
            />
            <path
              d="m226.72 202.34c-0.60488-0.5737-2.4195-1.4343-2.722-2.2948 2.4195 2.2948 7.561 3.4422 11.493 3.1554 3.9317 0 7.561 0.28685 11.493 0 9.3756-0.5737 19.659-2.2948 26.01-4.5896 1.2098-0.28685 2.4195-1.7211 3.3268-2.2948 0.90732-0.28685 1.5122-1.1474 2.4195-1.7211 2.4195-2.2948 4.839-4.5896 7.2585-6.5976-0.30244 5.1633-5.1415 10.04-10.888 12.622-6.3512 2.8685-13.912 4.0159-20.868 4.5896-7.2585 0.86056-14.82 1.4343-21.473-0.5737-2.4195-0.28685-4.2341-1.1474-6.0488-2.2948z"
              id="path123"
              fill-rule="nonzero"
              fill="#FAB69D"
            />
            <path
              d="m307.94 189c-0.31266-0.84615-0.62532-1.6923-0.93797-2.2564 8.1291-0.28205 16.571-1.6923 24.387-3.6667 1.5633-0.5641 3.1266-0.84615 4.3772-1.9744 1.2506-0.84615 1.8759-1.9744 2.1886-3.1026 0.31266 2.5385-0.93797 5.0769-3.7519 7.3333-8.7544 0.5641-17.509 1.9744-26.263 3.6667z"
              id="path125"
              fill-rule="nonzero"
              fill="#FAB69D"
            />
            <path
              d="m232 0.63343c-3.0472-0.6061-5.7896-0.90915-8.8368-0.30305-5.7896 1.2122-10.97 4.8488-17.064 6.061-7.618 1.5153-14.931-1.2122-22.854-0.6061-10.36 0.90915-21.026 7.8793-31.995 10.91-14.322 3.9397-29.253 2.1214-43.879 12.122-3.9613 2.7275-7.9227 6.3641-12.189 7.2732-3.0472 0.90915-5.4849 0.30305-8.2274 0.6061-6.7038 0.90915-14.626 6.3641-19.807 12.425-5.1802 5.758-8.2274 12.122-11.275 18.183-0.91415 1.8183-1.8283 3.6366-3.3519 5.1519-3.6566 3.6366-9.1415 4.5458-14.017 5.4549-8.5321 1.5153-17.369 3.6366-25.596 7.8793-8.2274 4.2427-14.626 11.516-12.493 16.971 0.30472 0.6061 0.60944 0.90915 0.91415 1.5153 3.3519 0.90915 7.3132 1.2122 10.665-0.6061-3.0472-6.061 5.1802-16.062 14.626-20.304 10.36-4.5458 20.111-4.2427 29.253-3.6366 10.36-9.6976 12.189-24.547 23.768-32.73 8.2274-5.758 16.455-4.8488 24.987-8.4854 6.3991-2.7275 12.189-7.8793 18.283-10.607 6.7038-3.0305 12.798-2.4244 19.197-3.3336 13.408-2.1214 26.815-11.516 39.309-15.153 10.056-2.7275 19.807-1.8183 29.558-2.7275 7.0085 0 14.931-1.5153 21.026-6.061z"
              id="path127"
              fill-rule="nonzero"
              fill="#F6936D"
            />
            <path
              d="m203 203.22c7.9368 21 15.874 82.783 24.084 103.48 0.82105 0 1.0947 0.30435 1.9158 0.30435-6.5684-21.304-13.137-83.696-19.705-105-2.4632 0.6087-3.8316 0.91304-6.2947 1.2174z"
              id="path129"
              fill-rule="nonzero"
              fill="#F26C46"
            />
            <path
              d="m73 161c3.2258 15.419 5.1613 23.279 10 39-2.2581-15.419-2.9032-22.977-3.871-38.093-2.5806-0.30233-3.5484-0.60465-6.129-0.90698z"
              id="path131"
              fill-rule="nonzero"
              fill="#F26C46"
            />
            <path
              d="m20.591 102.13c3.2492-14.182 10.338-27.46 20.381-37.719 0.59076-0.60351 1.4769-1.5088 2.3631-1.8105 1.4769-0.30175 2.9538 0.60351 4.4307 1.8105 6.7938 5.4316 13.292 11.467 19.495 17.804 2.6584 2.414 5.0215 5.1298 6.203 8.7509 1.1815 3.6211 1.1815 7.2421 0.88614 11.165-17.132 3.6211-34.855 3.6211-51.987 0.60351l-1.7723-0.60351z"
              id="path133"
              fill-rule="nonzero"
              fill="#A63823"
            />
            <path
              d="m52.787 104.55c1.4769-3.0175 2.0677-6.6386 2.6584-10.26 0.88614-7.8456 1.1815-16.295-0.88614-24.14-2.3631-1.8105-4.4307-3.9228-6.7938-5.7333-1.1815-0.90526-2.6584-2.1123-4.4307-1.8105-0.88614 0.30175-1.7723 0.90526-2.3631 1.8105-10.043 10.26-17.132 23.537-20.381 37.719l1.7723 0.30176c9.7476 1.8105 20.086 2.414 30.424 2.1123z"
              id="path135"
              fill-rule="nonzero"
              fill="#F26641"
            />
            <path
              d="m49.243 89.46c-0.88614 0-1.7723 0-2.6584 0.30175-6.4984 1.207-13.588 0.60351-19.791-1.8105 0-3.3193 0.88614-6.6386 2.3631-9.6561 0.29538-0.90526 1.1815-1.8105 2.0677-1.8105 0.59076 0 1.1815 0.30175 1.4769 0.60351 5.0215 3.3193 10.043 6.9404 14.769 10.863l1.7723 1.5088z"
              id="path137"
              fill-rule="nonzero"
              fill="#F15930"
            />
            <path
              d="m55.741 85.839c0.29538-5.4316-0.29538-10.863-1.4769-15.691-2.3631-1.8105-4.4307-3.9228-6.7938-5.7333-1.1815-0.90526-2.6584-2.1123-4.4307-1.8105-0.88614 0.30175-1.7723 0.90526-2.3631 1.8105-3.84 3.9228-7.3845 8.4491-10.338 13.277 0.88614 1.8105 2.0677 3.6211 3.2492 5.1298 2.6584 2.7158 6.203 4.5263 10.043 5.7333 2.0677 0.60351 4.4307 0.90526 6.4984 0.60351 2.3631-0.30175 4.1353-1.5088 5.6122-3.3193z"
              id="path139"
              fill-rule="nonzero"
              fill="#F58768"
            />
            <path
              d="m73.169 90.667c-1.1815-3.3193-3.84-6.0351-6.203-8.7509-2.9538-3.0175-5.9076-5.7333-8.8614-8.7509 1.7723 6.0351 1.7723 12.674 1.7723 19.011 0 0.90526 0 1.8105 0.59076 2.7158 0.88614 1.8105 3.5446 1.5088 5.3169 0.90526 2.9538-0.90526 5.9076-1.8105 8.2707-3.6211-0.29538-0.30175-0.59076-0.90526-0.88614-1.5088z"
              id="path141"
              fill-rule="nonzero"
              fill="#F15930"
            />
            <ellipse
              transform="rotate(-84.78 53.015 86.784)"
              cx="53.015"
              cy="86.784"
              rx="2.954"
              ry="3.0177"
              id="ellipse143"
              fill-rule="nonzero"
              fill="#FCD7CD"
            />
            <path
              d="m62.6 109.2c1.8-7.7554 6-15.224 12-20.968 0.3-0.28724 0.9-0.86171 1.5-0.86171 0.9-0.28724 1.8 0.28724 2.7 0.86171 3.9 3.1596 7.8 6.3192 11.7 9.7661 1.5 1.4362 3 2.8724 3.6 4.883 0.9 2.0107 0.6 4.0213 0.6 6.3192-10.2 2.0107-20.7 2.0107-30.9 0.28724l-1.2-0.28724z"
              id="path145"
              fill-rule="nonzero"
              fill="#A63823"
            />
            <path
              d="m81.5 110.64c0.9-1.7234 1.2-3.7341 1.5-5.7447 0.6-4.3086 0.6-9.1916-0.6-13.5-1.2-1.1489-2.7-2.2979-3.9-3.1596-0.9-0.57447-1.8-1.1489-2.7-0.86171-0.6 0-0.9 0.57447-1.5 0.86171-6 5.7447-10.2 13.213-12 20.968h0.9c6.3 1.1489 12.3 1.7234 18.3 1.4362z"
              id="path147"
              fill-rule="nonzero"
              fill="#F26641"
            />
            <path
              d="m79.7 102.31c-0.6 0-1.2 0-1.5 0.28724-3.9 0.86171-8.1 0.28724-11.7-0.86171 0-2.0107 0.6-3.7341 1.5-5.4575 0.3-0.57447 0.6-0.86171 1.2-0.86171 0.3 0 0.6 0.28724 0.9 0.28724 3 2.0107 6 4.0213 9 6.032l0.6 0.57447z"
              id="path149"
              fill-rule="nonzero"
              fill="#F15930"
            />
            <path
              d="m83.6 100.3c0-2.8724 0-6.032-0.9-8.9043-1.2-1.1489-2.7-2.2979-3.9-3.1596-0.9-0.57447-1.8-1.1489-2.7-0.86171-0.6 0-0.9 0.57447-1.5 0.86171-2.4 2.2979-4.5 4.883-6 7.4682 0.6 1.1489 1.2 2.0107 2.1 2.8724 1.5 1.4362 3.6 2.5851 6 3.1596 1.2 0.28724 2.7 0.57447 3.9 0.28724 0.9 0 2.1-0.86171 3-1.7234z"
              id="path151"
              fill-rule="nonzero"
              fill="#F58768"
            />
            <path
              d="m93.8 102.89c-0.6-2.0107-2.1-3.4468-3.6-4.883-1.8-1.7234-3.6-3.1596-5.4-4.883 0.9 3.4468 1.2 7.1809 0.9 10.628 0 0.57447 0 1.1489 0.3 1.4362 0.6 0.86171 2.1 0.86171 3.3 0.57447 1.8-0.28724 3.6-0.86171 4.8-2.0107 0 0 0-0.57447-0.3-0.86171z"
              id="path153"
              fill-rule="nonzero"
              fill="#F15930"
            />
            <ellipse
              transform="rotate(-84.782 81.972 100.79)"
              cx="81.972"
              cy="100.79"
              rx="1.8001"
              ry="1.7235"
              id="ellipse155"
              fill-rule="nonzero"
              fill="#FCD7CD"
            />
            <path
              d="m240 200.13s20.718 7.412 22.79 6.8418c2.0718-0.28508 18.351-2.5657 20.126-8.2672 1.7759-5.7015-25.454-5.7015-25.454-5.7015l-17.463 7.1269z"
              id="path157"
              fill-rule="nonzero"
              fill="url(#n)"
            />
            <path
              d="m235.6 196.28c1.8-7.7554 6-15.224 12-20.968 0.3-0.28724 0.9-0.86171 1.5-0.86171 0.9-0.28724 1.8 0.28724 2.7 0.86171 3.9 3.1596 7.8 6.3192 11.7 9.7661 1.5 1.4362 3 2.8724 3.6 4.883 0.9 2.0107 0.6 4.0213 0.6 6.3192-10.2 2.0107-20.7 2.0107-30.9 0.28724l-1.2-0.28724z"
              id="path159"
              fill-rule="nonzero"
              fill="#A63823"
            />
            <path
              d="m254.5 197.43c0.9-1.7234 1.2-3.7341 1.5-5.7447 0.6-4.3086 0.6-9.1916-0.6-13.5-1.2-1.1489-2.7-2.2979-3.9-3.1596-0.9-0.57447-1.8-1.1489-2.7-0.86171-0.6 0-0.9 0.57447-1.5 0.86171-6 5.7447-10.2 13.213-12 20.968h0.9c6.3 1.4362 12.3 1.7234 18.3 1.4362z"
              id="path161"
              fill-rule="nonzero"
              fill="#F26641"
            />
            <path
              d="M252.7 189.095652c-.6 0-1.2 0-1.5.287237-3.9.861711-8.1.287237-11.7-.861711 0-2.010659.6-3.734081 1.5-5.457503.3-.574474.6-.861711 1.2-.861711.3 0 .6.287237.9.287237l9 6.031977.6.574474z"
              id="path163"
              fill-rule="nonzero"
              fill="#F15930"
            />
            <path
              d="m256.6 187.08c0-2.8724 0-6.032-0.9-8.9043-1.2-1.1489-2.7-2.2979-3.9-3.1596-0.9-0.57447-1.8-1.1489-2.7-0.86171-0.6 0-0.9 0.57447-1.5 0.86171-2.4 2.2979-4.5 4.883-6 7.4682 0.6 1.1489 1.2 2.0107 2.1 2.8724 1.5 1.4362 3.6 2.5851 6 3.1596 1.2 0.28724 2.7 0.57447 3.9 0.28724 0.9 0 2.1-0.86171 3-1.7234z"
              id="path165"
              fill-rule="nonzero"
              fill="#F58768"
            />
            <path
              d="m266.8 189.67c-0.6-2.0107-2.1-3.4468-3.6-4.883-1.8-1.7234-3.6-3.1596-5.4-4.883 0.9 3.4468 1.2 7.1809 0.9 10.628 0 0.57447 0 1.1489 0.3 1.4362 0.6 0.86171 2.1 0.86171 3.3 0.57447 1.8-0.28724 3.6-0.86171 4.8-2.0107 0 0 0-0.28724-0.3-0.86171z"
              id="path167"
              fill-rule="nonzero"
              fill="#F15930"
            />
            <ellipse
              transform="rotate(-84.782 254.95 187.65)"
              cx="254.95"
              cy="187.65"
              rx="1.8001"
              ry="1.7235"
              id="ellipse169"
              fill-rule="nonzero"
              fill="#FCD7CD"
            />
            <ellipse cx="386" cy="103" rx="41" ry="12" id="ellipse171" fill-rule="nonzero" fill="#F58255" />
            <ellipse cx="384.5" cy="102.5" rx="39.5" ry="11.5" id="ellipse173" fill-rule="nonzero" fill="url(#m)" />
          </g>
          <path
            transform="translate(59.589 158)"
            d="m38.256 40.87-33.256-18.975 39.411 16.591z"
            fill="url(#j)"
            fill-rule="nonzero"
            opacity=".19"
            id="path177"
          />
          <path d="m93.434 184.03c0.10035 0 0-0.10582 0 0v0z" fill="#9F0" id="path179" />
          <path
            d="m93.434 183.93s0.10035 0.10582 0 0c0 0.63495 0.2007 1.1641 0.50176 1.6932 0.2007 0.4233 0.50176 0.74077 0.80281 0.95242v0.31747c0.10035 0.21165 0.10035 1.2699 0.10035 3.3864v6.5611c0 0.31747 0 0.52912 0.2007 0.63495 0.4014 0.8466 1.2042 1.4815 2.3081 2.0107 0.50176 0.31747 1.1039 0.4233 1.6056 0.4233h0.60211c-0.2007-0.63495-0.70246-1.0582-1.5053-1.4815s-1.3046-0.74077-1.5053-1.1641c-0.2007-0.31747-0.2007-0.63495-0.10035-0.95242h0.50176c-0.4014-0.10582-0.60211-0.21165-0.60211-0.52912v-9.3126c0.10035-0.21165 0.2007-0.52912 0.2007-0.8466 0-0.31747 0-0.52912-0.10035-0.8466h-1.4049c-0.4014-8.5718 0.30105-12.911 1.9067-13.122 0.70246-0.31747 1.5053-0.74077 2.2077-1.4815 0-0.10582 0.10035-0.10582 0.10035-0.21165-0.90316-0.63495-1.4049-1.5874-1.6056-2.8573-0.2007-1.2699-0.2007-1.9048 0-2.1165 0-0.31747 0.2007-0.52912 0.4014-0.63495h0.2007c0.30105-0.10582 0.90316 0 1.8063 0 1.1039 0.10582 2.1074-0.21165 3.0105-1.0582 0.50176-0.4233 0.80281-0.8466 0.90316-1.1641 0.2007-0.4233 0.2007-0.74077 0-1.0582-0.2007-0.31747-0.4014-0.52912-0.60211-0.74077-0.50176-0.52912-1.0035-0.8466-1.6056-1.1641-0.10035 0-0.2007-0.10582-0.30105-0.10582-0.50176-0.21165-1.1039-0.31747-1.6056-0.31747-0.70246 0-1.3046 0.10582-1.9067 0.4233-0.60211 0.21165-1.1039 0.63495-1.6056 1.1641-0.90316 0.95242-1.4049 2.0107-1.5053 3.1747v1.1641c0 0.52912 0.10035 0.95242 0.2007 1.4815 0.2007 0.63495 0.4014 1.1641 0.80281 1.6932 0.2007 0.21165 0.30105 0.31747 0.50176 0.52912l0.50176 0.52912-0.50176 0.31747c-1.9067 1.2699-2.9102 3.598-3.1109 7.1961v7.0903c0.2007 0.31747 0.2007 0.31747 0.2007 0.4233zm12.945 12.487c0-0.74077-0.60211-1.0582-1.9067-1.1641-1.706-0.52912-2.7095-0.8466-2.9102-1.0582s-0.30105-0.4233-0.4014-0.52912l-0.2007-6.5611c0.2007-0.95242 0.4014-1.6932 0.60211-2.3281l-0.10035-0.4233c-0.60211 0.31747-1.1039 0.74077-1.5053 1.3757v9.1009c0.90316 0.4233 1.9067 0.95242 3.1109 1.3757h0.10035c1.4049 0.4233 2.4084 0.4233 3.2112 0.21165zm-8.3291-12.064c0.50176 0 1.0035 0 1.5053-0.10582l-0.10035-8.0427c-0.10035-0.63495-0.4014-1.0582-1.1039-1.2699v8.8893c0 0.21165-0.10035 0.31747-0.2007 0.31747l-0.10035 0.21165z"
            fill="#FFF"
            id="path181"
          />
          <path
            d="m99.355 170.17h0.80281c0.90316 0 1.6056-0.21165 2.3081-0.63495 0.10035 0 0.2007-0.10582 0.30105-0.10582 0.10035-0.10582 0.10035-0.10582 0.2007-0.21165 0.10035 0 0.10035-0.10582 0.2007-0.10582l0.10035-0.10582s0.10035 0 0.10035-0.10582l0.2007-0.21165 0.2007-0.31747 0.2007-0.10582c0.4014-0.52912 0.70246-1.1641 0.80281-1.799 0.10035-0.4233 0.2007-0.95242 0.2007-1.4815v-1.1641c0-0.4233-0.10035-0.74077-0.2007-1.1641-0.10035-0.21165-0.10035-0.4233-0.2007-0.63495 0-0.10582-0.10035-0.21165-0.10035-0.21165-0.10035-0.10582-0.2007-0.21165-0.2007-0.31747 0.10035 0.31747 0.10035 0.74077 0 1.0582-0.2007 0.4233-0.50176 0.8466-0.90316 1.1641-0.90316 0.8466-1.9067 1.1641-3.0105 1.0582-0.90316-0.10582-1.5053-0.10582-1.8063 0h-0.2007c-0.30105 0.10582-0.4014 0.31747-0.4014 0.63495-0.2007 0.10582-0.2007 0.8466 0 2.1165 0.10035 1.0582 0.60211 2.0107 1.4049 2.6456zm4.9172-5.9262c0.10035 0.4233 0.2007 0.8466 0.10035 1.1641 0 1.1641-0.50176 1.9048-1.3046 2.2223l-0.30105-0.21165c-0.10035-0.4233-0.10035-0.8466-0.10035-1.1641 0-1.2699 0.60211-2.1165 1.6056-2.434-0.10035 0.10582 0 0.31747 0 0.4233z"
            fill="#666"
            id="path183"
          />
          <path
            d="m104.27 164.24c0-0.10582-0.10035-0.21165-0.10035-0.4233-1.0035 0.31747-1.5053 1.0582-1.6056 2.434 0 0.4233 0 0.8466 0.10035 1.1641l0.30105 0.21165c0.90316-0.31747 1.3046-1.0582 1.3046-2.2223 0.2007-0.4233 0.10035-0.74077 0-1.1641z"
            fill="#999"
            id="path185"
          />
          <path
            d="m99.957 185.73c0.4014-0.63495 0.90316-1.1641 1.5053-1.3757l0.10035 0.4233c-0.30105 0.63495-0.50176 1.4815-0.60211 2.3281l0.2007 6.5611c0 0.10582 0.10035 0.31747 0.4014 0.52912 0.2007 0.21165 1.2042 0.52912 2.9102 1.0582 1.3046 0.10582 1.9067 0.4233 1.9067 1.1641 0.2007-0.10582 0.4014-0.10582 0.50176-0.21165 0.30105-0.21165 0.50176-0.63495 0.70246-1.0582 0-0.31747-0.2007-0.74077-0.50176-1.0582-0.50176-0.52912-1.3046-1.0582-2.5088-1.4815v-8.3602c0-0.74077 0.10035-1.4815 0.4014-2.2223 0.30105 0.10582 0.60211 0.10582 0.90316-0.10582s0.50176-0.63495 0.50176-1.1641c0-0.10582 0-0.31747-0.10035-0.63495l0.10035-0.10582c0.2007-0.21165 0.2007-0.31747 0.2007-0.52912v-5.0796c0-0.21165 0-0.4233-0.10035-0.74077v-0.10582c-0.10035-0.74077-0.30105-1.3757-0.50176-1.9048-0.30105-0.8466-0.80281-1.4815-1.4049-1.9048-0.2007-0.31747-0.60211-0.63495-1.0035-0.95242l-0.2007 0.21165s-0.10035 0-0.10035 0.10582l-0.10035 0.10582c-0.10035 0-0.10035 0.10582-0.2007 0.10582s-0.10035 0.10582-0.2007 0.21165c-0.10035 0-0.2007 0.10582-0.30105 0.10582-0.70246 0.4233-1.5053 0.63495-2.3081 0.63495h-0.80281c0 0.10582 0 0.10582-0.10035 0.21165-0.70246 0.74077-1.4049 1.2699-2.2077 1.4815-1.6056 0.21165-2.3081 4.5505-1.9067 13.122h1.4049c0.10035 0.31747 0.10035 0.52912 0.10035 0.8466 0 0.31747-0.10035 0.63495-0.2007 0.8466v9.3126c0 0.21165 0.2007 0.4233 0.60211 0.52912h-0.50176c-0.10035 0.31747-0.10035 0.63495 0.10035 0.95242 0.2007 0.31747 0.70246 0.74077 1.5053 1.1641s1.3046 0.95242 1.5053 1.4815c1.0035-0.10582 1.4049-0.4233 1.4049-1.1641 0.10035-0.8466-0.30105-1.6932-1.2042-2.6456-0.2007-0.21165-0.30105-0.31747-0.50176-0.52912v-8.1485c0.10035-0.31747 0.10035-0.52912 0.2007-0.74077 0.2007-0.74077 0.30105-0.95242 0.4014-1.2699zm-1.9067-1.3757s0-0.10582 0.10035-0.10582c0.10035-0.10582 0.10035-0.21165 0.2007-0.31747v-8.9951c0.70246 0.21165 1.1039 0.63495 1.1039 1.2699l0.10035 8.0427c-0.50176 0.10582-1.0035 0.10582-1.5053 0.10582z"
            fill="#AEAEAE"
            id="path187"
          />
          <g id="g201">
            <path
              transform="translate(36.589 158)"
              d="m37.256 40.87-33.256-18.975 39.411 16.591z"
              fill="url(#j)"
              fill-rule="nonzero"
              opacity=".19"
              id="path189"
            />
            <path d="m69.434 184.03c0.10035 0 0-0.10582 0 0v0z" fill="#9F0" id="path191" />
            <path
              d="m69.434 183.93s0.10035 0.10582 0 0c0 0.63495 0.2007 1.1641 0.50176 1.6932 0.2007 0.4233 0.50176 0.74077 0.80281 0.95242v0.31747c0.10035 0.21165 0.10035 1.2699 0.10035 3.3864v6.5611c0 0.31747 0 0.52912 0.2007 0.63495 0.4014 0.8466 1.2042 1.4815 2.3081 2.0107 0.50176 0.31747 1.1039 0.4233 1.6056 0.4233h0.60211c-0.2007-0.63495-0.70246-1.0582-1.5053-1.4815-0.80281-0.4233-1.3046-0.74077-1.5053-1.1641-0.2007-0.31747-0.2007-0.63495-0.10035-0.95242h0.50176c-0.4014-0.10582-0.60211-0.21165-0.60211-0.52912v-9.3126c0.10035-0.21165 0.2007-0.52912 0.2007-0.8466 0-0.31747 0-0.52912-0.10035-0.8466h-1.4049c-0.4014-8.5718 0.30105-12.911 1.9067-13.122 0.70246-0.31747 1.5053-0.74077 2.2077-1.4815 0-0.10582 0.10035-0.10582 0.10035-0.21165-0.90316-0.63495-1.4049-1.5874-1.6056-2.8573-0.2007-1.2699-0.2007-1.9048 0-2.1165 0-0.31747 0.2007-0.52912 0.4014-0.63495h0.2007c0.30105-0.10582 0.90316 0 1.8063 0 1.1039 0.10582 2.1074-0.21165 3.0105-1.0582 0.50176-0.4233 0.80281-0.8466 0.90316-1.1641 0.2007-0.4233 0.2007-0.74077 0-1.0582-0.2007-0.31747-0.4014-0.52912-0.60211-0.74077-0.50176-0.52912-1.0035-0.8466-1.6056-1.1641-0.10035 0-0.2007-0.10582-0.30105-0.10582-0.50176-0.21165-1.1039-0.31747-1.6056-0.31747-0.70246 0-1.3046 0.10582-1.9067 0.4233-0.60211 0.21165-1.1039 0.63495-1.6056 1.1641-0.90316 0.95242-1.4049 2.0107-1.5053 3.1747v1.1641c0 0.52912 0.10035 0.95242 0.2007 1.4815 0.2007 0.63495 0.4014 1.1641 0.80281 1.6932 0.2007 0.21165 0.30105 0.31747 0.50176 0.52912l0.50176 0.52912-0.50176 0.31747c-1.9067 1.2699-2.9102 3.598-3.1109 7.1961v7.0903c0.2007 0.31747 0.2007 0.31747 0.2007 0.4233zm12.945 12.487c0-0.74077-0.60211-1.0582-1.9067-1.1641-1.706-0.52912-2.7095-0.8466-2.9102-1.0582s-0.30105-0.4233-0.4014-0.52912l-0.2007-6.5611c0.2007-0.95242 0.4014-1.6932 0.60211-2.3281l-0.10035-0.4233c-0.60211 0.31747-1.1039 0.74077-1.5053 1.3757v9.1009c0.90316 0.4233 1.9067 0.95242 3.1109 1.3757h0.10035c1.4049 0.4233 2.4084 0.4233 3.2112 0.21165zm-8.3291-12.064c0.50176 0 1.0035 0 1.5053-0.10582l-0.10035-8.0427c-0.10035-0.63495-0.4014-1.0582-1.1039-1.2699v8.8893c0 0.21165-0.10035 0.31747-0.2007 0.31747l-0.10035 0.21165z"
              fill="#FFF"
              id="path193"
            />
            <path
              d="m75.355 170.17h0.80281c0.90316 0 1.6056-0.21165 2.3081-0.63495 0.10035 0 0.2007-0.10582 0.30105-0.10582 0.10035-0.10582 0.10035-0.10582 0.2007-0.21165 0.10035 0 0.10035-0.10582 0.2007-0.10582l0.10035-0.10582s0.10035 0 0.10035-0.10582l0.2007-0.21165 0.2007-0.31747 0.2007-0.10582c0.4014-0.52912 0.70246-1.1641 0.80281-1.799 0.10035-0.4233 0.2007-0.95242 0.2007-1.4815v-1.1641c0-0.4233-0.10035-0.74077-0.2007-1.1641-0.10035-0.21165-0.10035-0.4233-0.2007-0.63495 0-0.10582-0.10035-0.21165-0.10035-0.21165-0.10035-0.10582-0.2007-0.21165-0.2007-0.31747 0.10035 0.31747 0.10035 0.74077 0 1.0582-0.2007 0.4233-0.50176 0.8466-0.90316 1.1641-0.90316 0.8466-1.9067 1.1641-3.0105 1.0582-0.90316-0.10582-1.5053-0.10582-1.8063 0h-0.2007c-0.30105 0.10582-0.4014 0.31747-0.4014 0.63495-0.2007 0.10582-0.2007 0.8466 0 2.1165 0.10035 1.0582 0.60211 2.0107 1.4049 2.6456zm4.9172-5.9262c0.10035 0.4233 0.2007 0.8466 0.10035 1.1641 0 1.1641-0.50176 1.9048-1.3046 2.2223l-0.30105-0.21165c-0.10035-0.4233-0.10035-0.8466-0.10035-1.1641 0-1.2699 0.60211-2.1165 1.6056-2.434-0.10035 0.10582 0 0.31747 0 0.4233z"
              fill="#666"
              id="path195"
            />
            <path
              d="m80.272 164.24c0-0.10582-0.10035-0.21165-0.10035-0.4233-1.0035 0.31747-1.5053 1.0582-1.6056 2.434 0 0.4233 0 0.8466 0.10035 1.1641l0.30105 0.21165c0.90316-0.31747 1.3046-1.0582 1.3046-2.2223 0.2007-0.4233 0.10035-0.74077 0-1.1641z"
              fill="#999"
              id="path197"
            />
            <path
              d="m75.957 185.73c0.4014-0.63495 0.90316-1.1641 1.5053-1.3757l0.10035 0.4233c-0.30105 0.63495-0.50176 1.4815-0.60211 2.3281l0.2007 6.5611c0 0.10582 0.10035 0.31747 0.4014 0.52912 0.2007 0.21165 1.2042 0.52912 2.9102 1.0582 1.3046 0.10582 1.9067 0.4233 1.9067 1.1641 0.2007-0.10582 0.4014-0.10582 0.50176-0.21165 0.30105-0.21165 0.50176-0.63495 0.70246-1.0582 0-0.31747-0.2007-0.74077-0.50176-1.0582-0.50176-0.52912-1.3046-1.0582-2.5088-1.4815v-8.3602c0-0.74077 0.10035-1.4815 0.4014-2.2223 0.30105 0.10582 0.60211 0.10582 0.90316-0.10582s0.50176-0.63495 0.50176-1.1641c0-0.10582 0-0.31747-0.10035-0.63495l0.10035-0.10582c0.2007-0.21165 0.2007-0.31747 0.2007-0.52912v-5.0796c0-0.21165 0-0.4233-0.10035-0.74077v-0.10582c-0.10035-0.74077-0.30105-1.3757-0.50176-1.9048-0.30105-0.8466-0.80281-1.4815-1.4049-1.9048-0.2007-0.31747-0.60211-0.63495-1.0035-0.95242l-0.2007 0.21165s-0.10035 0-0.10035 0.10582l-0.10035 0.10582c-0.10035 0-0.10035 0.10582-0.2007 0.10582s-0.10035 0.10582-0.2007 0.21165c-0.10035 0-0.2007 0.10582-0.30105 0.10582-0.70246 0.4233-1.5053 0.63495-2.3081 0.63495h-0.80281c0 0.10582 0 0.10582-0.10035 0.21165-0.70246 0.74077-1.4049 1.2699-2.2077 1.4815-1.6056 0.21165-2.3081 4.5505-1.9067 13.122h1.4049c0.10035 0.31747 0.10035 0.52912 0.10035 0.8466 0 0.31747-0.10035 0.63495-0.2007 0.8466v9.3126c0 0.21165 0.2007 0.4233 0.60211 0.52912h-0.50176c-0.10035 0.31747-0.10035 0.63495 0.10035 0.95242 0.2007 0.31747 0.70246 0.74077 1.5053 1.1641 0.80281 0.4233 1.3046 0.95242 1.5053 1.4815 1.0035-0.10582 1.4049-0.4233 1.4049-1.1641 0.10035-0.8466-0.30105-1.6932-1.2042-2.6456-0.2007-0.21165-0.30105-0.31747-0.50176-0.52912v-8.1485c0.10035-0.31747 0.10035-0.52912 0.2007-0.74077 0.2007-0.74077 0.30105-0.95242 0.4014-1.2699zm-1.9067-1.3757s0-0.10582 0.10035-0.10582c0.10035-0.10582 0.10035-0.21165 0.2007-0.31747v-8.9951c0.70246 0.21165 1.1039 0.63495 1.1039 1.2699l0.10035 8.0427c-0.50176 0.10582-1.0035 0.10582-1.5053 0.10582z"
              fill="#AEAEAE"
              id="path199"
            />
          </g>
          <path
            style="fill:#000000;fill-opacity:0.2"
            inkscape:connector-curvature="0"
            id="path203"
            d="m 193.54,279.66 7.567,4.3846 c 3.3182,1.9218 7.517,2.9521 11.564,3.052 3.7554,0.093 7.3792,-0.61452 10.044,-2.1617 l 12.202,-7.0836 15.941,9.2453 7.3124,4.2409 c 3.6765,2.1321 8.2067,2.1321 11.883,0 l 48.366,-28.049 c 2.8364,-1.6449 4.5833,-4.6847 4.5833,-7.9745 v -23.483 c 0.0247,-1.2528 -0.33877,-2.5326 -1.1531,-3.6295 l -13.293,-15.895 v -39.446 l -84.333,-51.799 c -6.3966,-3.7056 -16.07,-4.1046 -21.607,-0.89034 l -83.879,48.692 c -2.6439,1.5345 -3.8632,3.6158 -3.7222,5.7753 0.0121,0.18758 0.0384,0.37622 0.0715,0.56485 -0.0742,0.40633 -0.0989,0.81901 -0.0715,1.2343 v 53.432 c -0.0105,0.19868 -0.0131,0.39788 0,0.59814 0.10942,1.6761 1.0421,3.3981 2.7659,4.9495 l 75.759,44.243 z"
          />
          <path
            style="fill:#cdcdcd"
            inkscape:connector-curvature="0"
            id="path205"
            d="m 193.54,274.66 7.567,4.3846 c 3.3182,1.9218 7.517,2.9521 11.564,3.052 3.7554,0.093 7.3792,-0.61452 10.044,-2.1617 l 12.202,-7.0836 15.941,9.2453 7.3124,4.2409 c 3.6765,2.1321 8.2067,2.1321 11.883,0 l 48.366,-28.049 c 2.8364,-1.6449 4.5833,-4.6847 4.5833,-7.9745 v -23.483 c 0.0247,-1.2528 -0.33877,-2.5326 -1.1531,-3.6295 l -13.293,-15.895 v -39.446 l -84.333,-51.799 c -6.3966,-3.7056 -16.07,-4.1046 -21.607,-0.89034 l -83.879,48.692 c -2.6439,1.5345 -3.8632,3.6158 -3.7222,5.7753 0.0121,0.18758 0.0384,0.37622 0.0715,0.56485 -0.0742,0.40633 -0.0989,0.81901 -0.0715,1.2343 v 53.432 c -0.0105,0.19868 -0.0131,0.39788 0,0.59814 0.10942,1.6761 1.0421,3.3981 2.7659,4.9495 l 75.759,44.243 z"
          />
          <path
            style="fill:#ffffff"
            inkscape:connector-curvature="0"
            id="path207"
            d="m 310.17,170.35 c -0.15401,-2.3502 -1.9349,-4.7934 -5.2748,-6.7199 l -80.753,-46.578 c -6.3918,-3.6869 -16.058,-4.0838 -21.591,-0.88625 l -83.816,48.439 c -2.6419,1.527 -3.8603,3.5976 -3.7194,5.7454 0.15401,2.3502 1.9354,4.7934 5.2748,6.7199 l 80.753,46.578 c 6.3918,3.6869 16.058,4.0838 21.591,0.88625 l 83.816,-48.439 c 2.6419,-1.527 3.8603,-3.5976 3.7194,-5.7454"
          />
          <path
            inkscape:connector-curvature="0"
            style="fill:url(#l)"
            id="path209"
            d="m 202.385,114.17 -83.661,48.573 c -2.6375,1.5307 -3.8532,3.6069 -3.7126,5.7606 0.15373,2.3567 1.9313,4.8066 5.265,6.7384 l 80.603,46.707 c 6.38,3.6971 16.029,4.095 21.551,0.88869 l 83.662,-48.573 c 2.637,-1.5312 3.8526,-3.6075 3.7126,-5.7612 -0.15373,-2.3566 -1.9318,-4.8071 -5.265,-6.7379 l -80.604,-46.707 c -3.4864,-2.0198 -7.9498,-3.0551 -12.182,-3.0556 -3.5121,0 -6.8648,0.71316 -9.3695,2.1674"
          />
          <path
            inkscape:connector-curvature="0"
            id="path211"
            d="m 265.54,253.33 -30.538,-27.197 v 46.094 l 23.232,13.547 c 3.6737,2.1423 8.1998,2.1423 11.873,0 l 48.322,-28.177 c 2.8338,-1.6519 4.5792,-4.7061 4.5792,-8.0104 v -23.591 l -57.468,27.335 z"
          />
          <path
            style="fill:#1c7ecb"
            inkscape:connector-curvature="0"
            id="path213"
            d="m 465.07949,341.97271 3.1691,0.90873 -1.5556,5.425 c -0.15433,0.53821 0.0124,0.61978 0.37153,0.18145 l 5.8764,-7.5013 c 0.35912,-0.43833 0.17872,-0.92901 -0.40494,-1.0964 l -3.1691,-0.90873 1.5553,-5.424 c 0.15461,-0.53918 -0.0124,-0.61978 -0.37125,-0.18243 l -5.8764,7.5013 c -0.35912,0.43833 -0.17872,0.92901 0.40494,1.0964"
          />
          <path
            style="fill:#ffffff"
            inkscape:connector-curvature="0"
            id="path215"
            d="m 257.21,254.15 -22.207,-29.766 0.38629,-1.5711 60.36,-34.818 26.029,34.623 c 2.0481,2.7457 1.2955,6.3925 -1.6723,8.1048 l -46.476,26.809 c -5.5394,3.1957 -12.597,1.7423 -16.42,-3.3821"
          />
          <path
            style="fill:#ffffff"
            inkscape:connector-curvature="0"
            id="path217"
            d="m 257.86,254.17 -22.859,-30.64 61.588,-35.526 25.267,33.868 c 2.077,2.784 1.2577,6.7553 -1.7522,8.4918 l -46.789,26.989 c -5.2146,3.0082 -11.857,1.6399 -15.456,-3.1836"
          />
          <path style="fill:#b8b8b8" inkscape:connector-curvature="0" id="path219" d="m 250.93,279.78 v -33.436 l -15.927,-21.349 v 45.597 z" />
          <path
            style="fill:#b7ccda"
            inkscape:connector-curvature="0"
            id="path221"
            d="m 295.67,206.65 c -0.27276,0 -0.54763,0.0698 -0.79832,0.21424 l -38.425,22.165 c -0.3947,0.22789 -0.67377,0.61436 -0.76627,1.0607 -0.092,0.44633 0.0121,0.91156 0.28433,1.277 l 9.8227,13.166 c 0.48404,0.64954 1.3796,0.83332 2.0802,0.42848 l 38.425,-22.165 c 0.39522,-0.22842 0.67429,-0.61488 0.76679,-1.0607 0.092,-0.44633 -0.0121,-0.91156 -0.28433,-1.2765 l -9.8227,-13.166 c -0.31061,-0.41745 -0.79149,-0.64271 -1.2818,-0.64271 m -28.6,39.171 c -0.68796,0 -1.3638,-0.31663 -1.8011,-0.90263 l -9.8222,-13.166 c -0.38261,-0.51301 -0.52766,-1.1668 -0.3989,-1.7932 0.12929,-0.62643 0.52136,-1.1694 1.0758,-1.4892 l 38.425,-22.165 c 0.98595,-0.56867 2.241,-0.31033 2.9221,0.60123 l 9.8222,13.166 c 0.38261,0.51301 0.52766,1.1662 0.3989,1.7927 -0.12929,0.62643 -0.52136,1.1694 -1.0763,1.4892 l -38.425,22.165 c -0.35213,0.20321 -0.73841,0.30088 -1.121,0.30088"
          />
          <path
            style="fill:#ee503b"
            inkscape:connector-curvature="0"
            id="path223"
            d="m 275.46404,170.59495 c -0.0991,-1.52656 -1.24411,-3.11297 -3.39101,-4.36409 L 220.1605,135.97882 c -4.10926,-2.39419 -10.32347,-2.65215 -13.88015,-0.57525 l -53.88275,31.46026 c -1.52354,0.88988 -2.30995,2.06419 -2.39069,3.30366 -0.0267,0.41157 0.0241,0.83002 0.15204,1.24795 0.002,0.006 0.005,0.0127 0.007,0.0191 0.0288,0.0938 0.0624,0.18751 0.0996,0.28127 0.006,0.0159 0.0126,0.0312 0.0189,0.0466 0.0351,0.0853 0.0734,0.17056 0.11482,0.25584 0.009,0.0185 0.0178,0.0376 0.0273,0.0561 0.0425,0.0842 0.0881,0.16791 0.13684,0.25107 0.01,0.0175 0.0194,0.035 0.0299,0.0524 0.0545,0.0906 0.11272,0.18115 0.17406,0.2712 0.006,0.009 0.0115,0.0175 0.0178,0.0265 0.1384,0.19969 0.29569,0.3978 0.47079,0.59219 0.0163,0.0185 0.0346,0.0366 0.0514,0.0551 0.0692,0.0752 0.14051,0.1499 0.21495,0.22406 0.0299,0.0302 0.0613,0.0599 0.0923,0.0895 0.065,0.062 0.13106,0.12394 0.20027,0.18592 0.0372,0.0334 0.0755,0.0667 0.11429,0.0996 0.0666,0.0577 0.13474,0.11441 0.20499,0.17109 0.0419,0.0344 0.0849,0.0683 0.12845,0.10223 0.0713,0.0556 0.14522,0.1107 0.22019,0.16579 0.0451,0.0328 0.0891,0.0657 0.13474,0.098 0.0828,0.0583 0.16882,0.11547 0.25532,0.17268 0.0414,0.0275 0.0807,0.0551 0.12321,0.0821 0.12897,0.0826 0.26109,0.1642 0.39845,0.24419 0.001,5.3e-4 0.002,0.001 0.004,0.002 l 51.91253,30.25204 c 2.31152,1.347 5.28887,2.01758 8.08482,1.97733 0.58981,-0.008 1.17018,-0.0514 1.73587,-0.12342 0.0724,-0.009 0.14418,-0.0196 0.216,-0.0302 1.43651,-0.20552 2.76345,-0.61762 3.84345,-1.24848 l 34.14805,-19.93796 19.73418,-11.52229 c 0.003,-0.002 0.006,-0.004 0.009,-0.005 0.10538,-0.062 0.20762,-0.12501 0.30566,-0.18963 0.0367,-0.0238 0.0703,-0.0487 0.1059,-0.0731 0.0629,-0.0424 0.12583,-0.0853 0.18559,-0.12925 0.0425,-0.0312 0.0818,-0.063 0.12268,-0.0948 0.0493,-0.0381 0.0991,-0.0757 0.14627,-0.11441 0.043,-0.036 0.0839,-0.0731 0.12531,-0.10912 0.0404,-0.036 0.0818,-0.071 0.1211,-0.10753 0.0425,-0.0397 0.0828,-0.081 0.12321,-0.12129 0.0335,-0.0334 0.0682,-0.0668 0.10013,-0.10065 0.0414,-0.044 0.0802,-0.089 0.11901,-0.13348 0.0278,-0.0312 0.0561,-0.063 0.0823,-0.0948 0.0393,-0.0477 0.0765,-0.0959 0.11324,-0.14461 0.022,-0.0291 0.0451,-0.0583 0.0661,-0.0879 0.0372,-0.0519 0.0718,-0.10382 0.10538,-0.15626 0.0178,-0.027 0.0356,-0.054 0.0524,-0.081 0.0341,-0.0556 0.0655,-0.11124 0.0965,-0.16738 0.0131,-0.0244 0.0267,-0.0487 0.0393,-0.0736 0.0304,-0.0593 0.0592,-0.11918 0.086,-0.17904 0.01,-0.0217 0.0194,-0.0434 0.0288,-0.0652 0.0267,-0.0636 0.0514,-0.12712 0.0739,-0.19121 0.007,-0.0185 0.0131,-0.0371 0.0194,-0.0556 0.0225,-0.0673 0.043,-0.13507 0.0613,-0.20287 0.004,-0.0159 0.008,-0.0312 0.0115,-0.0466 0.0178,-0.0715 0.0335,-0.14301 0.0467,-0.21505 0.002,-0.0122 0.004,-0.0238 0.006,-0.0355 0.0126,-0.0757 0.0231,-0.15149 0.0304,-0.22723 10e-4,-0.008 0.002,-0.017 0.002,-0.0254 0.007,-0.0795 0.0115,-0.1589 0.0126,-0.23889 5.2e-4,-0.005 0,-0.009 0,-0.0138 0.001,-0.0837 -10e-4,-0.16738 -0.006,-0.2516"
          />
          <path
            inkscape:connector-curvature="0"
            id="path225"
            d="m 206.64113,135.39567 -54.22767,31.28136 c -1.53331,0.88428 -2.32529,2.0519 -2.40654,3.2843 -0.0269,0.40922 0.0248,0.82528 0.15354,1.24082 0.002,0.006 0.005,0.0126 0.007,0.0195 0.029,0.0927 0.0628,0.18644 0.0997,0.27913 0.006,0.0158 0.0132,0.0311 0.0195,0.0464 0.0348,0.0848 0.0739,0.17011 0.11503,0.25438 0.009,0.019 0.0185,0.0374 0.028,0.0564 0.0422,0.0832 0.0886,0.16643 0.13719,0.24912 0.0105,0.0179 0.02,0.0348 0.0306,0.0521 0.0543,0.0901 0.11291,0.18012 0.17517,0.26965 0.006,0.008 0.0116,0.0179 0.0174,0.0263 0.0707,0.1006 0.14562,0.19961 0.2253,0.29862 0.36565,-0.39394 0.83049,-0.76103 1.39823,-1.08862 l 54.22767,-31.28084 c 3.57947,-2.06506 9.83405,-1.8091 13.96913,0.57196 l 52.24587,30.07952 c 1.03469,0.59618 1.83564,1.26874 2.40285,1.97447 0.0258,-0.0279 0.0512,-0.0558 0.0765,-0.0843 0.028,-0.0316 0.0559,-0.0627 0.0828,-0.0948 0.0396,-0.0474 0.077,-0.0953 0.11397,-0.14325 0.0222,-0.0295 0.0448,-0.0585 0.0665,-0.088 0.0369,-0.0511 0.0723,-0.10323 0.10606,-0.15484 0.0179,-0.0269 0.0359,-0.0542 0.0522,-0.0811 0.0343,-0.0548 0.0665,-0.1106 0.0976,-0.16643 0.0132,-0.0242 0.0264,-0.049 0.0396,-0.0727 0.0306,-0.0595 0.0596,-0.11902 0.0865,-0.17854 0.01,-0.0216 0.0195,-0.0432 0.0285,-0.0648 0.0274,-0.0632 0.0522,-0.1264 0.0755,-0.19012 0.006,-0.0184 0.0127,-0.0369 0.0185,-0.0548 0.0232,-0.0674 0.0438,-0.13482 0.0617,-0.20276 0.005,-0.0153 0.008,-0.03 0.0121,-0.0458 0.0179,-0.0706 0.0338,-0.1422 0.047,-0.21383 0.002,-0.0121 0.004,-0.0237 0.006,-0.0353 0.0127,-0.0753 0.0232,-0.15062 0.0306,-0.22594 5.3e-4,-0.008 10e-4,-0.0163 0.002,-0.0253 0.007,-0.0785 0.0116,-0.158 0.0127,-0.23752 v -0.0137 c 0.001,-0.0832 -10e-4,-0.16642 -0.006,-0.25016 -0.0997,-1.51786 -1.25261,-3.09522 -3.41274,-4.33868 L 220.61026,135.96815 C 218.35092,134.66676 215.45738,134 212.71473,134 c -2.27674,0 -4.45007,0.45925 -6.0736,1.39567"
          />
          <path
            inkscape:connector-curvature="0"
            style="fill:url(#k)"
            id="path227"
            d="m 275.97,-42.133 c 5.3e-4,-1.0311 -0.83372,-1.867 -1.8622,-1.867 h -122.24 c -1.0285,0 -1.8622,0.83587 -1.8622,1.867 v 211.39 c -0.0274,0.41002 0.0242,0.8269 0.15264,1.2433 0.16106,0.43113 0.19948,0.51556 0.24106,0.60052 0.24948,0.44907 0.30791,0.53878 0.36949,0.62848 0.15685,0.22585 0.31475,0.42268 0.49055,0.61688 0.29738,0.30765 0.32896,0.3372 0.36002,0.36675 0.38265,0.34195 0.45107,0.39894 0.5216,0.45487 0.56845,0.42268 0.65477,0.47968 0.74161,0.53667 0.25317,0.16411 0.38581,0.24538 0.52371,0.32506 7e-4,3.5e-4 17.374,10.047 52.121,30.14 2.3206,1.3419 5.3097,2.01 8.1167,1.9699 0.59213,-0.008 1.1748,-0.0512 1.7427,-0.12295 1.659,-0.23482 2.9912,-0.64537 4.0754,-1.2733 l 34.283,-19.864 19.812,-11.479 c 0.35265,-0.21794 0.38633,-0.24274 0.42212,-0.26649 0.35896,-0.26174 0.40897,-0.2992 0.45581,-0.33773 0.29054,-0.2554 0.33107,-0.29604 0.3716,-0.33667 0.34212,-0.37519 0.37949,-0.42321 0.41634,-0.47123 0.25896,-0.37941 0.29054,-0.43535 0.32159,-0.49128 0.38686,-1.1356 0.39739,-1.2116 0.40476,-1.287 0.0105,-0.24028 0.0163,-71.02 0.0174,-212.34 z"
          />
          <path
            style="fill:#ffffff"
            inkscape:connector-curvature="0"
            id="path229"
            d="m 249.65,226.67 c -0.22317,0 -0.44002,-0.11557 -0.56002,-0.32242 -0.17948,-0.30976 -0.0747,-0.70711 0.23422,-0.88706 l 45.249,-26.375 c 0.30949,-0.17994 0.70477,-0.0755 0.88425,0.2343 0.18001,0.30976 0.0753,0.70711 -0.2337,0.88706 l -45.249,26.375 c -0.10211,0.0596 -0.21422,0.0881 -0.32475,0.0881"
          />
          <path
            style="fill:#cdcdcd"
            inkscape:connector-curvature="0"
            id="path231"
            d="m 216.41,257.56 v -25.953 l -28.379,-9.9737 -9.9261,-9.9283 -43.859,-12.707 -10.241,8.4841 v 4.2227 l 5.4548,1.7926 0.0397,-6.873 80.786,46.808 v 6.5973 z"
          />
          <g style="opacity:0.80965002;fill:#ffffff" id="g259">
            <path
              style="opacity:0.37226999"
              inkscape:connector-curvature="0"
              id="path233"
              d="m 191.27,173.83 c 0,-1.9026 0.30727,-3.305 0.92181,-4.2071 0.61454,-0.90215 1.5609,-1.3532 2.8392,-1.3532 1.2438,0 2.1841,0.47196 2.8207,1.4159 0.63667,0.94394 0.955,2.3254 0.955,4.1445 0,1.883 -0.3085,3.2767 -0.9255,4.1813 -0.617,0.9046 -1.5671,1.3569 -2.8502,1.3569 -1.2438,0 -2.1816,-0.46705 -2.8134,-1.4012 -0.63175,-0.93411 -0.94762,-2.3131 -0.94762,-4.1371 z m 2.6106,-2.8466 c -0.23107,0.57521 -0.3466,1.5241 -0.3466,2.8466 0,1.3225 0.1143,2.2701 0.34291,2.8429 0.22861,0.57276 0.61331,0.85913 1.1541,0.85913 0.53097,0 0.91443,-0.29006 1.1504,-0.87019 0.23598,-0.58013 0.35398,-1.5241 0.35398,-2.8318 0,-1.3225 -0.11922,-2.2726 -0.35766,-2.8502 -0.23844,-0.57767 -0.62068,-0.8665 -1.1467,-0.8665 -0.53588,0 -0.91935,0.29006 -1.1504,0.87019 z"
              class="number-twelve"
            />
            <path
              style="opacity:0.34135"
              inkscape:connector-curvature="0"
              id="path235"
              d="m 218.15,83.403 c 0,-1.9026 0.30727,-3.305 0.92181,-4.2071 0.61454,-0.9021 1.5609,-1.3532 2.8392,-1.3532 1.2438,0 2.1841,0.47196 2.8207,1.4159 0.63667,0.94394 0.955,2.3254 0.955,4.1445 0,1.883 -0.3085,3.2767 -0.9255,4.1813 -0.617,0.90461 -1.5671,1.3569 -2.8502,1.3569 -1.2438,0 -2.1816,-0.46705 -2.8134,-1.4012 -0.63175,-0.93411 -0.94762,-2.3131 -0.94762,-4.1371 z m 2.6106,-2.8466 c -0.23107,0.57521 -0.3466,1.5241 -0.3466,2.8466 0,1.3225 0.1143,2.2701 0.34291,2.8429 0.22861,0.57275 0.61331,0.85913 1.1541,0.85913 0.53097,0 0.91443,-0.29006 1.1504,-0.87019 0.23598,-0.58013 0.35398,-1.5241 0.35398,-2.8318 0,-1.3225 -0.11922,-2.2726 -0.35766,-2.8502 -0.23844,-0.57767 -0.62068,-0.8665 -1.1467,-0.8665 -0.53588,0 -0.91935,0.29006 -1.1504,0.87019 z"
              class="number-six"
            />
            <path
              style="opacity:0.50642"
              inkscape:connector-curvature="0"
              id="path237"
              d="m 171.15,29.403 c 0,-1.9026 0.30727,-3.305 0.92181,-4.2071 0.61454,-0.90215 1.5609,-1.3532 2.8392,-1.3532 1.2438,0 2.1841,0.47196 2.8207,1.4159 0.63667,0.94394 0.955,2.3254 0.955,4.1445 0,1.883 -0.3085,3.2767 -0.9255,4.1813 -0.617,0.90461 -1.5671,1.3569 -2.8502,1.3569 -1.2438,0 -2.1816,-0.46705 -2.8134,-1.4012 -0.63175,-0.93411 -0.94762,-2.3131 -0.94762,-4.1371 z m 2.6106,-2.8466 c -0.23107,0.57521 -0.3466,1.5241 -0.3466,2.8466 0,1.3225 0.1143,2.2701 0.34291,2.8429 0.22861,0.57275 0.61331,0.85913 1.1541,0.85913 0.53097,0 0.91443,-0.29006 1.1504,-0.87019 0.23598,-0.58013 0.35398,-1.5241 0.35398,-2.8318 0,-1.3225 -0.11922,-2.2726 -0.35766,-2.8502 -0.23844,-0.57767 -0.62068,-0.8665 -1.1467,-0.8665 -0.53588,0 -0.91935,0.29006 -1.1504,0.87019 z"
              class="number-two"
            />
            <path
              style="opacity:0.51345005"
              inkscape:connector-curvature="0"
              id="path239"
              d="m 237.74,40.227 c 0,-1.9026 0.30727,-3.305 0.92181,-4.2071 0.61454,-0.9021 1.5609,-1.3532 2.8392,-1.3532 1.2438,0 2.1841,0.47196 2.8207,1.4159 0.63667,0.94394 0.955,2.3254 0.955,4.1445 0,1.883 -0.3085,3.2767 -0.9255,4.1813 -0.617,0.90461 -1.5671,1.3569 -2.8502,1.3569 -1.2438,0 -2.1816,-0.46705 -2.8134,-1.4012 -0.63175,-0.93411 -0.94762,-2.3131 -0.94762,-4.1371 z m 2.6106,-2.8466 c -0.23107,0.57521 -0.3466,1.5241 -0.3466,2.8466 0,1.3225 0.1143,2.2701 0.34291,2.8429 0.22861,0.57275 0.61331,0.85913 1.1541,0.85913 0.53097,0 0.91443,-0.29006 1.1504,-0.87019 0.23597,-0.58013 0.35398,-1.5241 0.35398,-2.8318 0,-1.3225 -0.11922,-2.2726 -0.35766,-2.8502 -0.23844,-0.57767 -0.62068,-0.8665 -1.1467,-0.8665 -0.53588,0 -0.91935,0.29006 -1.1504,0.87019 z"
              class="number-three"
            />
            <path
              style="opacity:0.37226999"
              inkscape:connector-curvature="0"
              id="path241"
              d="m 164.89,135.19 3.4734,-2.7654 h 1.8731 v 10.781 h -2.2787 v -6.2388 l 0.0221,-1.0251 0.0369,-1.1209 c -0.37856,0.37856 -0.64158,0.62683 -0.78907,0.74482 l -1.2389,0.99556 -1.0988,-1.3717 z"
              class="number-ten"
            />
            <path
              style="opacity:0.37226999"
              inkscape:connector-curvature="0"
              id="path243"
              d="m 210.07,121.9 3.4734,-2.7654 h 1.8731 v 10.781 h -2.2787 v -6.2388 l 0.0221,-1.0251 0.0369,-1.1209 c -0.37856,0.37856 -0.64158,0.62683 -0.78907,0.74482 l -1.2389,0.99556 -1.0988,-1.3717 z"
              class="number-nine"
            />
            <path
              style="opacity:0.21914003"
              inkscape:connector-curvature="0"
              id="path245"
              d="m 175.48,86.719 3.4734,-2.7654 h 1.8731 v 10.781 h -2.2787 v -6.2388 l 0.0221,-1.0251 0.0369,-1.1209 c -0.37856,0.37856 -0.64158,0.62683 -0.78907,0.74482 l -1.2389,0.99556 -1.0988,-1.3717 z"
              class="number-seven"
            />
            <path
              style="opacity:0.46327999"
              inkscape:connector-curvature="0"
              id="path247"
              d="m 198.07,51.543 3.4734,-2.7654 h 1.8731 v 10.781 h -2.2787 v -6.2388 l 0.0221,-1.0251 0.0369,-1.1209 c -0.37856,0.37856 -0.64158,0.62683 -0.78907,0.74482 l -1.2389,0.99556 -1.0988,-1.3717 z"
              class="number-four"
            />
            <path
              style="opacity:0.46327999"
              inkscape:connector-curvature="0"
              id="path249"
              d="m 222.07,3.5428 3.4734,-2.7654 h 1.8731 v 10.781 h -2.2787 V 5.3196 l 0.0221,-1.0251 0.0369,-1.1209 c -0.37856,0.37856 -0.64158,0.62683 -0.78907,0.74482 l -1.2389,0.99556 -1.0988,-1.3717 z"
              class="number-one"
            />
            <path
              style="opacity:0.37226999"
              inkscape:connector-curvature="0"
              id="path251"
              d="m 247.38,70.131 3.4734,-2.7654 h 1.8731 v 10.781 h -2.2787 v -6.2388 l 0.0221,-1.0251 0.0369,-1.1209 c -0.37856,0.37856 -0.64158,0.62683 -0.78907,0.74482 l -1.2389,0.99556 -1.0988,-1.3717 z"
              class="number-five"
            />
            <path
              style="opacity:0.37226999"
              inkscape:connector-curvature="0"
              id="path253"
              d="m 247.38,107.31 3.4734,-2.7654 h 1.8731 v 10.781 h -2.2787 v -6.2388 l 0.0221,-1.0251 0.0369,-1.1209 c -0.37856,0.37856 -0.64158,0.62683 -0.78907,0.74482 l -1.2389,0.99556 -1.0988,-1.3717 z"
              class="number-eight"
            />
            <path
              style="opacity:0.37226999"
              inkscape:connector-curvature="0"
              id="path255"
              d="m 238.08,144.48 3.4734,-2.7654 h 1.8731 v 10.781 h -2.2787 v -6.2388 l 0.0221,-1.0251 0.0369,-1.1209 c -0.37856,0.37856 -0.64158,0.62683 -0.78907,0.74482 l -1.2389,0.99556 -1.0988,-1.3717 z"
              class="number-eleven"
            />
            <path
              style="opacity:0.37226999"
              inkscape:connector-curvature="0"
              id="path257"
              d="m 219.5,172.37 3.4734,-2.7654 h 1.8731 v 10.781 h -2.2787 v -6.2388 l 0.0221,-1.0251 0.0369,-1.1209 c -0.37856,0.37856 -0.64158,0.62683 -0.78907,0.74482 l -1.2389,0.99556 -1.0988,-1.3717 z"
              class="number-thirteen"
            />
          </g>
          <g style="fill:#e31337" id="g4363" transform="matrix(0.05632533,-0.03251944,0.03251944,0.05632533,288.27634,256.63126)">
            <path
              inkscape:connector-curvature="0"
              d="m 157.27262,107.26394 c 0.72637,0 1.18,0.78752 0.81612,1.41681 l -46.75035,80.84819 C 111.16981,189.82048 110.8588,190 110.52228,190 H 81.944381 c -0.726367,0 -1.179995,-0.78752 -0.816111,-1.41681 L 127.87862,107.735 c 0.16858,-0.29154 0.47959,-0.47106 0.81611,-0.47106 z m -27.7949,-23.173803 c -0.33651,0 -0.64753,-0.179515 -0.81611,-0.471055 L 81.12827,1.4168088 C 80.764386,0.78752151 81.218014,0 81.944381,0 h 28.577899 c 0.33652,0 0.64753,0.17951487 0.81611,0.4710549 l 47.53334,82.2022731 c 0.36388,0.629287 -0.0897,1.416809 -0.81611,1.416809 z"
              id="path4359"
            />
            <path
              inkscape:connector-curvature="0"
              d="M 135.12841,1.416352 C 134.76385,0.78706423 135.21893,0 135.94734,0 h 28.61861 c 0.33776,0 0.64989,0.17971418 0.81894,0.47151174 L 219.87301,94.52758 c 0.16932,0.292284 0.16932,0.652556 0,0.94484 l -54.48812,94.05607 C 165.21584,189.82029 164.90371,190 164.56595,190 h -28.61861 c -0.72841,0 -1.18349,-0.78706 -0.81893,-1.41635 L 189.34284,95 Z m -23.25819,93.10773 c 0.17223,0.29267 0.17309,0.654477 0.002,0.947956 L 57.125226,189.52811 c -0.36523,0.62746 -1.277385,0.62961 -1.645617,0.004 L 0.12978361,95.475918 c -0.17222938,-0.29267 -0.17309611,-0.654477 -0.002271,-0.947956 L 54.874774,0.47189426 c 0.36523,-0.62746669 1.277385,-0.62961739 1.645617,-0.00388 z"
              id="path4361"
            />
          </g>
        </g>
      </svg>
    </div>
  </section>
</template>

<script>
export default {};
</script>
